@page "/fetchall"
@using Syncfusion.Blazor.QueryBuilder
@using Syncfusion.Blazor.Grids
@inject HttpClient Http

<div class="container row">
    <div class="card col-md-6 col-sm-12">
        <div class="row card-header">
            <h5>Youtube Scanner</h5>
        </div>
        <div class="card-body pt-3">
            <div class="row pb-0">
                <div class="col-md-12 input-group col-sm-12">
                    <input placeholder="Enter channel id" @bind="channelId" type="text" class="form-control form-control-md text-center">
                    <div class="input-group-append">
                        <button class="btn btn-md btn-info" @onclick="Run" type="button">
                            <i class="fa fa-floppy-o"></i> Sync
                        </button>
                        <span class="font-weight-bold"><img src="/loader.gif" class="@ccsStyle" style="height: 37px; margin-left: 10px;" /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 control-section mt-4 mb-4">
    <div class="content-wrapper">
        <div class="row">
          <SfQueryBuilder @ref="Querybuilder" TValue="VideoSnippet" DataSource="@DataSource" EnablePersistence="true">
                <QueryBuilderRule Condition="and" Rules="@ImportRules"></QueryBuilderRule>
                <QueryBuilderEvents TValue="VideoSnippet" Created="Created" RuleChanged="UpdateRule"></QueryBuilderEvents>
            
                <QueryBuilderColumns>
                    <QueryBuilderColumn Field="Id" Label="Video Id" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
                    <QueryBuilderColumn Field="title" Label="Video Title" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
                    <QueryBuilderColumn Field="playlistId" Label="Playlist Id" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
                    <QueryBuilderColumn Field="playlistName" Label="Playlist Name" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
                    <QueryBuilderColumn Field="status" Label="Privacy Status" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
                </QueryBuilderColumns>
            </SfQueryBuilder>
        </div>
    </div>
    </div>
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid ID="Grid" @ref="Grid"  AllowTextWrap="true" AllowResizing="true"  TValue="VideoSnippet" DataSource="@GridData" Toolbar="@(new List<string>() { "ColumnChooser","ExcelExport", "PdfExport", "Search" })" AllowPaging="true" EnablePersistence="true" AllowExcelExport="true" AllowPdfExport="true" AllowFiltering="true" ShowColumnChooser="true" AllowSorting="true">

                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                    <GridEvents Created="Created" TValue="VideoSnippet"></GridEvents>
                    <GridEvents OnToolbarClick="ToolbarClick" TValue="VideoSnippet"></GridEvents>

                    <GridPageSettings PageCount="10"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(VideoSnippet.Id) HeaderText="Video Id" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(VideoSnippet.title) FilterSettings="@(new FilterSettings{ Operator = Operator.Contains })" HeaderText="Video Title" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(VideoSnippet.playlistId) HeaderText="Playlist Id" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(VideoSnippet.playlistName) FilterSettings="@(new FilterSettings{ Operator = Operator.Contains })" HeaderText="Playlist Name" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(VideoSnippet.status) Visible="true" HeaderText="Privacy Status" Width="150"></GridColumn>

                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>

    @code {
        SfGrid<VideoSnippet> Grid;
        public void ToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
        {
            if (args.Item.Id == "Grid_pdfexport")
            {
                this.Grid.PdfExport();
            }
            if (args.Item.Id == "Grid_excelexport")
            {
                this.Grid.ExcelExport();
            }

        }


        List<RuleModel> Rules = new List<RuleModel>()
{
            new RuleModel { Label="title", Field="title", Type="String", Operator="equal", Value = "katha" },

    };

        SfQueryBuilder<VideoSnippet> Querybuilder;
        public IList<VideoSnippet> GridData { get; set; }
        public IEnumerable<VideoSnippet> DataSource { get; set; }


        string ccsStyle = "displayNone";
        string ccsExportStyle = "displayNone";
        private int currentCount = 0;


        private Root playlist = null;
        private Root videos = null;
        private List<VideoSnippet> videoList = new List<VideoSnippet>();
        protected string apiKey { get; set; } = "AIzaSyDlv05h9HxL7X3LAZmhlBxdXlz3oxsAWq8";
        protected string channelId { get; set; }


        public List<RuleModel> ImportRules = new List<RuleModel>()
{
        new RuleModel { Field = "title", Label = "Video Id",  Type = "String" },
        new RuleModel { Field = "playlistName",Operator="in", Label = "Playlist Name",  Type = "String" }
    };

        private void Created()
        {
            GridData = Querybuilder.GetFilteredRecords().ToList<VideoSnippet>();
        }
        private void UpdateRule(Syncfusion.Blazor.QueryBuilder.RuleChangeEventArgs args)
        {
            GridData = Querybuilder.GetFilteredRecords().ToList<VideoSnippet>();

            if (args.Type == "DeleteRule" && args.Rule.Rules.Count == 0)
            {
                //if (GridData.Count == 0)
                //    GridData = DataSource as IList<VideoSnippet>;
                GridData = DataSource as IList<VideoSnippet>;

            }



            StateHasChanged();
        }

        public List<string> Values = new List<string> { "True", "False" };

        protected override void OnInitialized()
        {
            DataSource = GridData as IEnumerable<VideoSnippet>;
        }

        private async Task Run()
        {
            ccsStyle = "displayBlock";
            // apiKey = "AIzaSyDlv05h9HxL7X3LAZmhlBxdXlz3oxsAWq8";
            // channelId = "UCQXWP4gEdEwlb6vodwrU75A";


            string url = "https://www.googleapis.com/youtube/v3/channels?id=" + channelId + "&key=" + apiKey + "&part=contentDetails";
            var res= await Http.GetFromJsonAsync<RootUpload>(url);

            string uploadId = res.items[0].contentDetails.relatedPlaylists.uploads;


            string playlistToken = "false";
            GridData = new List<VideoSnippet>();
            do
            {
                //string playListUrl = "https://www.googleapis.com/youtube/v3/search?part=snippet,id&order=date&maxResults=50&channelId=" + channelId + "&key=" + apiKey;

                string playListUrl = "https://www.googleapis.com/youtube/v3/playlistItems?playlistId=" + uploadId + "&key=" + apiKey + "&part=snippet&maxResults=50";
                if (playlistToken != "false")
                    playListUrl = playListUrl + "&pageToken=" + playlistToken;
                // playlistToken = "false";
                //Playlist Request
                playlist = await Http.GetFromJsonAsync<Root>(playListUrl);
                playlistToken = playlist.nextPageToken == null ? "false" : playlist.nextPageToken;

                //50 video loop
                foreach (var p in playlist.items)
                {
                    var v = new VideoSnippet();
                    v.Id = p.snippet.resourceId.videoId;
                    v.title = p.snippet.title;
                    v.status =p.status.privacyStatus;
                    v.playlistName = p.snippet.channelTitle;
                    v.playlistId = p.snippet.channelId;
                    Console.WriteLine(v.ToString());
                    GridData.Add(v);
                }

            } while (playlistToken != "false");
            ccsStyle = "displayNone";

            DataSource = GridData as IEnumerable<VideoSnippet>;

        }


        public class VideoSnippet
        {

            public string Id { get; set; }
            public string title { get; set; }
            public string playlistId { get; set; }
            public string playlistName { get; set; }
            public string status { get; set; }
        }


        #region classes
        // Root myDeserializedClass = JsonConvert.DeserializeObject<Root>(myJsonResponse); 
        public class Default
        {
            public string url { get; set; }
            public int width { get; set; }
            public int height { get; set; }
        }

        public class Medium
        {
            public string url { get; set; }
            public int width { get; set; }
            public int height { get; set; }
        }

        public class High
        {
            public string url { get; set; }
            public int width { get; set; }
            public int height { get; set; }
        }

        public class Standard
        {
            public string url { get; set; }
            public int width { get; set; }
            public int height { get; set; }
        }

        public class Maxres
        {
            public string url { get; set; }
            public int width { get; set; }
            public int height { get; set; }
        }

        public class Thumbnails
        {
            public Default @default { get; set; }
            public Medium medium { get; set; }
            public High high { get; set; }
            public Standard standard { get; set; }
            public Maxres maxres { get; set; }
        }

        public class ResourceId
        {
            public string kind { get; set; }
            public string videoId { get; set; }
        }

        public class Snippet
        {
            public DateTime publishedAt { get; set; }
            public string channelId { get; set; }
            public string title { get; set; }
            public string description { get; set; }
            public Thumbnails thumbnails { get; set; }
            public string channelTitle { get; set; }
            public string playlistId { get; set; }
            public int position { get; set; }
            public ResourceId resourceId { get; set; }
            public string videoOwnerChannelTitle { get; set; }
            public string videoOwnerChannelId { get; set; }
        }

        public class Status
        {
            public string privacyStatus { get; set; }
        }

        public class Item
        {
            public string kind { get; set; }
            public string etag { get; set; }
            public string id { get; set; }
            public Snippet snippet { get; set; }
            public Status status { get; set; }
        }

        public class PageInfo
        {
            public int totalResults { get; set; }
            public int resultsPerPage { get; set; }
        }

        public class Root
        {
            public string kind { get; set; }
            public string etag { get; set; }
            public string nextPageToken { get; set; }
            public List<Item> items { get; set; }
            public PageInfo pageInfo { get; set; }
        }


        #endregion


        // Root myDeserializedClass = JsonConvert.DeserializeObject<Root>(myJsonResponse); 
        public class PageInfoUpload
        {
            public int totalResults { get; set; }
            public int resultsPerPage { get; set; }
        }

        public class RelatedPlaylists
        {
            public string likes { get; set; }
            public string favorites { get; set; }
            public string uploads { get; set; }
        }

        public class ContentDetails
        {
            public RelatedPlaylists relatedPlaylists { get; set; }
        }

        public class ItemUpload
        {
            public string kind { get; set; }
            public string etag { get; set; }
            public string id { get; set; }
            public ContentDetails contentDetails { get; set; }
        }

        public class RootUpload
        {
            public string kind { get; set; }
            public string etag { get; set; }
            public PageInfo pageInfo { get; set; }
            public List<ItemUpload> items { get; set; }
        }

    }
